<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/jprogress.min.css" />
		<script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.knob.min.js"></script>
		<script type="text/javascript" src="/javascripts/jprogress.min.js"></script>
		
	</head>
	<body>
		<h1>John Kulp</h1>
			<div>Intro about me</div>
			<a href="/resume">download my resume</a> <a href="/cv">download my cover letter</a>
		<h2>Education and Work Experience</h2>
			<div>education stuff here</div>
		<h2>Skills</h2>
			<ul id = "skills-list">
			{% for category in skills %}
				<li class="skill">
					<h3>{{ category.name }}</h3>
					<ul>
					{% for skill in category.val %}
						<li>
							<span>{{ skill.name }}</span>
							<div class="skill-bar" progress="{{ skill.val }}%"></div>
						</li>
					{% endfor %}
					</ul>
				</li>
			{% endfor %}
			</ul>
		<h2>Language Proficiency</h2>
			<div id = "languages">

				{% for language in languages %}

				<div class="language">
					<div class="circle-box">
						<input class="circle" data-min="0" data-max="100" value="{{ language.val }}">
						</input>
						<div class="chart-label">{{ language.name }}</div>
					</div>
				</div>

				{% endfor %}

			</div>
		<h2>Contact</h2>
			<ul>
				<li>Email</li>
				<li>Linkdin</li>
				<li>Phone Number</li>
				<li>Github</li>
			</ul>
	</body>

	<script type="text/javascript" src="/javascripts/main.js"></script>
</html>